<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>chi tiết sản phẩm</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="js/hellohello.js"></script>
</head>

<body>
    <section class="header">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-3">
                    <img src="https://seeklogo.com/images/D/Dior-logo-DCBB4CC069-seeklogo.com.png" class="img-fluid"
                        alt="logo dior" height="70px" width="175px">
                </div>

                <div class="col-md-4 ">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Từ khóa tìm kiếm"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-3">
                                    <div class="fs-3 ">
                                        <i class="fa-solid fa-phone-volume"></i>
                                    </div>
                                </div>
                                <div class="col-9">Tư vấn<br>
                                    <strong>0354303510</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-3">
                                    <div class="fs-3">
                                        <i class="fa-regular fa-circle-user"></i>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <strong><a href="/registerpage" style="text-decoration: none; color: black;">Đăng
                                            ký</a></strong>
                                    <br>
                                    <strong><a href="/loginpage" style="text-decoration: none; color: black;">Đăng
                                            nhập</a></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="position-relative">
                                <span class="fs-3"><i class="fa-regular fa-heart text-black"></i> </span>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0
                                    <span class="visually-hidden">unread message</span>
                                </span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="position-relative">
                                <span class="fs-3"><i class="fa-solid fa-cart-shopping text-black"></i></span>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0
                                    <span class="visually-hidden">unread message</span>
                                </span>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="position-relative">
                                <span class="fs-3"><i class="fa-solid fa-truck text-black"></i></span>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0
                                    <span class="visually-hidden">unread message</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container ">

        <div class="d-flex justify-content-around bg-secondary mb-3">
            <div class="p-2 bg-info"><img
                    src="https://product.hstatic.net/1000340570/product/narciso-all-of-me-edp-90ml-1_1fde3ad0377b4496bf8f0bcab9a9a963_master.jpg"
                    height="300px" width="300px"></div>
            <div class="p-2 bg-warning">
                <span>
                    <p>
                        <b> Narciso Rodriguez All of Me</b>
                    </p>
                </span>
            </div>
            <div class="p-2 bg-primary">Flex item 3 dsfsdjjcbksdbckhbkjhdbc</div>
        </div>
        </section>

        <section class="footer bg-dark bg-gradient text-white p-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="fs-5">FIND A BOUTIQUE</h4>
                        <ul style="list-style: none">
                            <li><a href="#" style="text-decoration: none ; color: white">Parfums Christian Dior
                                    Boutiques</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Christian Dior Couture
                                    Boutiques</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="fs-5">CLIENT SERVICES</h4>
                        <ul style="list-style: none">
                            <li><a href="#" style="text-decoration: none ; color: white">Contact</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">FAQ</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Parfums Christian Dior</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Christian Dior Couture</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="fs-5">THE HOUSE OF DIOR</h4>
                        <ul style="list-style: none">
                            <li><a href="#" style="text-decoration: none ; color: white">To only leave beauty as a
                                    legacy</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Legal Terms and Conditions</a>
                            </li>
                            <li><a href="#" style="text-decoration: none ; color: white">Data Protection</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Personalize my choices</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Ethics & compliance</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Careers</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Site map</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="fs-5">FOLLOW US</h4>
                        <ul style="list-style: none">
                            <li><a href="#" style="text-decoration: none ; color: white">Instagram</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Tiktok</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Twitter</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Facebook</a></li>
                            <li><a href="#" style="text-decoration: none ; color: white">Snapchat</a></li>
                        </ul>
                    </div>

                </div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </section>
        <section class="header"></section>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

</html>